top Chicago n mentions per person per paper

In [1]:
import pandas as pd

In [2]:
DATA = '/oak/stanford/groups/malgeehe/celebs/chicago_results/chicago_name_paper.csv'

In [19]:
OTHER = '/oak/stanford/groups/malgeehe/celebs/chicago_results/chicago_names_total.csv'

In [5]:
T = '/oak/stanford/groups/malgeehe/celebs/chicago_results/tribune_sentence_samples.csv'
D = '/oak/stanford/groups/malgeehe/celebs/chicago_results/defender_sentence_samples.csv'

In [3]:
df = pd.read_csv(DATA)

In [4]:
df.head()

       person                   paper  n_mentions
0    N. Clark  Chicago Daily Tribune        10358
1      - Cago  Chicago Daily Tribune         8054
2       N. Y.  Chicago Daily Tribune         6072
3   Van Buren  Chicago Daily Tribune         5497
4  W. Madison  Chicago Daily Tribune         5250

In [6]:
t = pd.read_csv(T)

In [9]:
d = pd.read_csv(D)

In [8]:
t_names = t['name'].unique()

In [10]:
d_names = d['name'].unique()

In [14]:
isct = set(list(t_names) + list(d_names))

In [16]:
subset = df[df['person'].isin(isct)]

In [18]:
subset

                     person                   paper  n_mentions
0                  N. Clark  Chicago Daily Tribune        10358
1                    - Cago  Chicago Daily Tribune         8054
2                     N. Y.  Chicago Daily Tribune         6072
3                 Van Buren  Chicago Daily Tribune         5497
4                W. Madison  Chicago Daily Tribune         5250
...                     ...                     ...         ...
2677362  Harvey T. Woodruff   The Chicago Defender            1
2706419      Gabby Hartnett   The Chicago Defender            1
2706736                G. \  Chicago Daily Tribune            1
2733897           Green Bay   The Chicago Defender            1
2756773        Gladys Brown  Chicago Daily Tribune            1

[1724 rows x 3 columns]

In [22]:
papers = subset['paper'].unique()

In [23]:
papers

array(['Chicago Daily Tribune ', 'The Chicago Defender '], dtype=object)

In [24]:
t = subset[subset['paper'] == papers[0]]

In [25]:
d = subset[subset['paper'] == papers[1]]

In [28]:
out = pd.merge(t,d, on='person')

In [30]:
out.set_index('person', inplace=True)

In [33]:
data = out[['n_mentions_x', 'n_mentions_y']]

In [34]:
data.columns = ['tribune_mentions', 'defender_mentions']

In [36]:
data.to_csv('/oak/stanford/groups/malgeehe/celebs/chicago_results/person_mentions_by_paper.csv')