Getting lists of people exclusive to *Tribune* and *Defender* with number of mentions > *n* (TBD)

In [1]:
data = '/oak/stanford/groups/malgeehe/celebs/chicago_results/chicago_name_paper.csv'

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv(data)

In [4]:
df.shape

(2761876, 3)

In [5]:
df.head()

       person                   paper  n_mentions
0    N. Clark  Chicago Daily Tribune        10358
1      - Cago  Chicago Daily Tribune         8054
2       N. Y.  Chicago Daily Tribune         6072
3   Van Buren  Chicago Daily Tribune         5497
4  W. Madison  Chicago Daily Tribune         5250

In [6]:
papers = df['paper'].unique()

In [7]:
papers

array(['Chicago Daily Tribune ', 'The Chicago Defender '], dtype=object)

In [8]:
tribune = set(df[df['paper']==papers[0]]['person'])

In [12]:
defender = set(df[df['paper']==papers[1]]['person'])

In [13]:
t_exclusive = tribune - defender

In [14]:
d_exclusive = defender - tribune

In [16]:
len(tribune), len(defender)

(2171544, 590332)

In [15]:
len(t_exclusive), len(d_exclusive)

(2108998, 527786)

Almost all of the name mentions are completely different.

In [17]:
len(d_exclusive)/len(defender)

0.8940494501399213

In [18]:
len(t_exclusive)/len(tribune)

0.9711974521354391