For the top `n` people in both papers, get data about the distribution of article types in which they appear.

- Get lists of top n people per paper
- Merge and dedupe those
- Use resulting list to filter the annualized data
- Merge all of the relevant rows into a new data frame
- Merge with the metadata
- Groupby name (and year?) and count article type

In [3]:
import os
import pandas as pd

In [4]:
NAMES = '/oak/stanford/groups/malgeehe/celebs/chicago_results/names_annual'

In [9]:
TOP = '/oak/stanford/groups/malgeehe/celebs/chicago_results/chicago_name_paper.csv'

In [10]:
names = pd.read_csv(TOP)

In [11]:
names.head()

       person                   paper  n_mentions
0    N. Clark  Chicago Daily Tribune        10358
1      - Cago  Chicago Daily Tribune         8054
2       N. Y.  Chicago Daily Tribune         6072
3   Van Buren  Chicago Daily Tribune         5497
4  W. Madison  Chicago Daily Tribune         5250

In [12]:
names.shape[0]

2761876

Get top n people per paper:

In [13]:
papers = names['paper'].unique()

In [15]:
N = 5000

In [17]:
L = []
for paper in papers:
    sub = names[names['paper'] == paper].sort_values('n_mentions', ascending = False)
    L.append(list(sub['person'][:N]))

In [20]:
len(L[0]), len(L[1])

(5000, 5000)

In [22]:
combined = set(L[0] + L[1])

In [23]:
len(combined)

9402