Getting the article type metadata from the Chicago papers to see what we have.

In [1]:
import os
import pandas as pd

In [2]:
DATA = '/oak/stanford/groups/malgeehe/celebs/chicago_results/chicago_1919-1939_meta.csv'

In [3]:
df = pd.read_csv(DATA)

In [4]:
df.head()

,Unnamed: 0,abstract,numericpubdate,objecttype,publicationid,qualifier,recordid,recordtitle,startpage,title,n_valid_words,n_words,ocr_acc,year,fullpath
0,0,...,19330301,Feature,46851,"Chicago, Ill.",181362810,INVESTORS' GUIDE,24,Chicago Daily Tribune (1923-1963),358,539,0.664193,1933,/Users/erik/Desktop/chicago_subcorpus/2/CT_201...
1,1,NaN,19330616,Front Page/Cover Story,46851,"Chicago, Ill.",181395865,Child Dies in Convulsions After Attack of Asthma,1,Chicago Daily Tribune (1923-1963),53,65,0.815385,1933,/Users/erik/Desktop/chicago_subcorpus/3/CT_201...
2,2,...,19330510,Feature,46851,"Chicago, Ill.",181427460,A LINE O' TYPE 0R TWO,14,Chicago Daily Tribune (1923-1963),821,918,0.894336,1933,/Users/erik/Desktop/chicago_subcorpus/1/CT_201...
3,3,...,19330519,Feature,46851,"Chicago, Ill.",181402308,Music Contest Winners Give Award Recital,25,Chicago Daily Tribune (1923-1963),311,337,0.922849,1933,/Users/erik/Desktop/chicago_subcorpus/3/CT_201...
4,4,NaN,19330724,Advertisement,46851,"Chicago, Ill.",181413378,Display Ad 16 -- No Title,16,Chicago Daily Tribune (1923-1963),243,299,0.812709,1933,/Users/erik/Desktop/chicago_subcorpus/3/CT_201...

Get counts of object type per paper. Then, type per paper per year.

In [5]:
 df['title'].unique()

array(['Chicago Daily Tribune (1923-1963)',
       'Chicago Daily Tribune (1872-1922)',
       'The Chicago Defender (Big Weekend Edition) (1905-1966)',
       'The Chicago Defender (National edition) (1921-1967)'],
      dtype=object)

In [8]:
g = df[['title','objecttype','year']].groupby(['title','objecttype']).count()

In [12]:
g.reset_index(inplace = True)

In [13]:
g.columns = ['paper','type','n_docs']

In [15]:
g.to_csv('/oak/stanford/groups/malgeehe/celebs/chicago_results/type_per_paper_ndocs.csv')

In [36]:
g = df[['title','objecttype','n_valid_words']].groupby(['title','objecttype']).sum()

In [37]:
g.reset_index(inplace = True)

In [42]:
# add a column with a normed paper name
g['paper_normed'] = [x.split('(')[0].strip() for x in g['paper']]

In [45]:
g = g[['paper', 'paper_normed', 'type', 'n_words']].sort_values('n_words', ascending=False)

In [46]:
g.columns = ['paper', 'paper_normed', 'type', 'n_tokens']

In [47]:
g.to_csv('/oak/stanford/groups/malgeehe/celebs/chicago_results/type_per_paper_ntoks_sorted.csv')

In [54]:
g['paper_normed'].unique()

array(['Chicago Daily Tribune', 'The Chicago Defender'], dtype=object)

Ditto, per year

In [16]:
fields = ['title', 'objecttype', 'year', 'n_valid_words']

In [22]:
g = df[fields].groupby(['title','objecttype','year']).count()

In [24]:
g.reset_index(inplace = True)

In [26]:
g.head()

                               title     objecttype  year  n_valid_words
0  Chicago Daily Tribune (1872-1922)  Advertisement  1919           3834
1  Chicago Daily Tribune (1872-1922)  Advertisement  1920           4136
2  Chicago Daily Tribune (1872-1922)  Advertisement  1921           3737
3  Chicago Daily Tribune (1872-1922)  Advertisement  1922           3918
4  Chicago Daily Tribune (1872-1922)   Birth Notice  1919              2

In [27]:
g.columns = ['paper','type','year', 'n_docs']

In [29]:
g.to_csv('/oak/stanford/groups/malgeehe/celebs/chicago_results/type_paper_year_ndocs.csv')

In [30]:
fields = ['title', 'objecttype', 'year', 'n_valid_words']

In [31]:
g = df[fields].groupby(['title','objecttype','year']).sum()

In [32]:
g.reset_index(inplace = True)

In [33]:
g.head()

                               title     objecttype  year  n_valid_words
0  Chicago Daily Tribune (1872-1922)  Advertisement  1919        3077745
1  Chicago Daily Tribune (1872-1922)  Advertisement  1920        2880383
2  Chicago Daily Tribune (1872-1922)  Advertisement  1921        3113704
3  Chicago Daily Tribune (1872-1922)  Advertisement  1922        3235260
4  Chicago Daily Tribune (1872-1922)   Birth Notice  1919             30

In [34]:
g.columns = ['paper','type','year', 'n_tokens']

In [35]:
g.to_csv('/oak/stanford/groups/malgeehe/celebs/chicago_results/type_paper_year_ntoks.csv')